:root {
  --main-color: #036b52;
  --secondary-color: #023031;
  --accent-color: #2fc18c;
  --error-color: #b01726;
  --grey: #3d495c;
  --white: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #052727;
  height: 100%;
  min-width: 340px;
  width: 100%;
}